services:
  kea:
    image: jonasal/kea-dhcp4:3.0-alpine   # even minor = stable/LTS
    container_name: kea
    restart: unless-stopped
    network_mode: host
    cap_add: [ NET_ADMIN ]
    command: ["-c", "/kea/config/dhcp4.json"]
    volumes:
      - ./config:/kea/config
      - ./leases:/kea/leases
      - ./sockets:/kea/sockets
