services:
  kea:
    build: .
    image: kea-custom:3.0-alpine
    container_name: kea
    restart: unless-stopped
    network_mode: host
    cap_add: [ NET_ADMIN ]
    command: ["-c", "/kea/config/dhcp4.json"]
    volumes:
      - ./config:/kea/config
      - ./leases:/kea/leases
      - ./sockets:/kea/sockets
      - ../scripts:/scripts:ro
      - ../kea-hooks/dynamic_subnet/dhcp_dns_hijack.so:/usr/local/lib/kea/hooks/dhcp_dns_hijack.so:ro
    entrypoint: |
      sh -c '
      rm -f /usr/local/var/run/kea/dhcp4.kea-dhcp4.pid
      kea-dhcp4 -c /kea/config/dhcp4.json &
      KEA_PID=$!
      sleep 3
      chmod 666 /kea/sockets/kea4-ctrl-socket
      wait $KEA_PID
      '
